html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

main {
    background: linear-gradient(to bottom, #000014,#377dbe,rgb(214, 172, 57), #377dbe, #000014);
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 0.5rem 0.5rem 0;
    margin: 0;
}



/*header & navbar*/

#header {
    display: flex;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33363b;
    background-image: url("img/bannerbg1.jpg");
    background-position: center;
    background-size: cover;
}

#navbar {
    top: 0;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    background-color: #3269b1;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0 50px;
}

a {
    padding: 0 32px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(214, 172, 57);
}

a:hover {
    color: rgb(243, 188, 35);
}
/*banner*/

.banner {
    text-align: center;
}

.banner h1{
    font-size: 12rem;
    background: linear-gradient(to right, #377dbe,rgb(214, 172, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
    margin: 1rem 0;
}

.banner h6{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
    background: linear-gradient(to right, #377dbe,rgb(214, 172, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*about*/

.about, .projects {
    width: auto;
    max-width: 120rem;
    height: 100%;
    margin: 2.5rem;
    background-color: #c0c0c0;
    padding-bottom: 0.5rem;
    border-color: #3269b1;
    border-style: solid;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 3rem;
    background-color: white;
    border-color: rgb(214, 172, 57);
    border-style: solid;
    padding: 1rem;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 5rem;
}

.about-heading h2 {
    font-size: 3rem;
}

.profile-img {
    flex: 1;
    height: auto;
    width: auto;
}

.profile-img img {
    height: auto;
    width: 50rem;
}

.about-details {
    flex: 1;
    margin: 2rem;
}

.about-details p{
    text-align: left;
    font-size: 1.2rem;
}




/*projects*/

.projects {
    width: auto;
    max-width: 120rem;
    height: 100%;
    margin: 2.5rem;
    background-color: #c0c0c0;
    padding-bottom: 0.5rem;
}

.section-heading{
    text-align: center;
    padding: 0.5rem;
}

.section-heading h1{
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    margin: 1rem 1rem 0;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
}

.project-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 3rem;
    background-color: #eaeaea;
    border-color: rgb(214, 172, 57);
    border-style: solid;
    padding: 1rem;
}

.project-img {
    flex: 1;
    height: auto;
    width: auto;
}

.project-img img {
    height: auto;
    width: 50rem;
}

.project-description {
    flex: 1;
    margin: 0 2rem;
}

.project-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.project-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 2rem;
}

.project-description p {
    font-size: 1.2rem;
    text-align: left;
}

.portfolio-link {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    padding: 1rem;
    margin: 1rem 1rem 2rem;
}

.portfolio-link a {
    padding: 1rem 1.5rem;
    background-color: #3269b1;
    border-style: solid;
    border-color: #000014;
}

.portfolio-link a:hover {
    padding: 1rem 1.5rem;
    background-color: #377dbe;
    border-style: solid;
    border-color: #000014;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.project-description .project-link{
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.cta:last-child {
    margin: 0.5rem 0 1.5rem;
}
.portfolio-description .cta:hover{
    color: #2f67cd;
}

/*contact*/

.contact {
    width: auto;
    max-width: 120rem;
    height: 100%;
    margin: 2.5rem;
    background-color: #c0c0c0;
    border-color: #3269b1;
    border-style: solid;
    padding-bottom: 0.5rem;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 3rem;
    background-color: white;
    border-color: rgb(214, 172, 57);
    border-style: solid;
    padding: 1rem;
}

.contact-details {
    flex: 1;
    margin: 2rem;
}

.contact-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 5rem;
}

.contact-heading h2 {
    font-size: 3rem;
}

.contact-details p{
    text-align: left;
    font-size: 1.2rem;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}

.fa-linkedin, .fa-github-square, .fa-codepen, .fa-google-drive {
    color: #000014;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-github-square:hover {
    color: #f14e32;
}

.fa-codepen:hover {
    color: #6A0279;
}
.fa-google-drive:hover {
    color: #037317;
}

/*footer*/

.footer-container {
    width: auto;
    max-width: 120rem;
    height: 100%;
    margin: 2.5rem 2.5rem 0;
    background-color: #3269b1;
    padding: 0.5rem;
}

/*Start media queries*/
@media screen and (max-width: 1450px) {
    /*global*/
    html{
        background-size: cover;
        height: 100%;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    li {
        margin: 2rem 0;
    }

    /*navbar*/

    #navlink {
        font-size: 4.5rem;
    }

    /*about*/

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-container {
        flex-direction: column;
    }

    .about-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 5rem;
    }
    
    .about-heading h2 {
        font-size: 3rem;
    }
    
    .profile-img {
        justify-content: center;
        height: auto;
        width: auto;
        margin: 0;
    }
    
    .profile-img img {
        height: auto;
        width: 45vw;
    }
    
    .about-details {
        margin: 1rem 2rem 3rem;
    }
    
    .about-details p{
        text-align: left;
    }

    /*portfolio*/

    .project-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 2rem 3rem;
        background-color: #eaeaea;
        padding: 1rem;
    }
    
    .project-img {
        justify-content: center;
        height: auto;
        width: auto;
        margin: 0;
    }
    
    .project-img img {
        height: auto;
        width: 60vw;
    }
    
    .project-description {
        flex: 1;
        margin: 0 2rem;
    }

    /*contact*/

    .contact-container {
        flex-direction: column;
    }

    .contact-details {
        margin: 1rem 2rem 3rem;
    }
    
    .contact-details p{
        text-align: left;
    }

    .social-media i {
        font-size: 3rem;
        transition: color 650ms;
    }

    .nav-list {
        padding: 0;
    }
}
@media screen and (max-width: 750px) {
 
    .nav-link {
        font-size: 3.5rem;
    }

    .banner h1 {
        font-size: 8rem;
    }

    .banner h6 {
        font-size: 1.4rem;
    }

    .about-heading, .contact-heading {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        margin-bottom: 3rem;
    }

    .project-img img {
        height: auto;
        width: 60vw;
        margin: 1rem 0;
    }

    .project-description {
        margin: 0 1rem;
    }

    .project-description h1 {
        font-size: 1.5rem;
    }

    .project-description h6 {
        margin: 1rem;
        margin: 0;
    }
    .project-description p {
        text-align: left;
    }

    .project-description .profile-link {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    
    .profile-link:last-child {
        margin: 0.5rem 0 1.5rem;
        font-size: 1rem;
    }

    .contact-heading h2 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .social-media i {
        font-size: 2rem;
        transition: color 650ms;
    }

    .social-media a {
        padding: 0;
    }
}

@media screen and (max-width: 540px) {
    p {
        font-size: 0.5rem;
    }
    /*navbar & header*/

    #navbar {
        justify-content: center;
    }

    #navbar ul {
        padding: 0;
    }

    .banner h1 {
        font-size: 6rem;
    }

    .section-heading {
        padding: 0.5rem;
    }

    .section-heading h1 {
        font-size: 2rem;
        margin: 0.5rem 0.5rem 0;
    }

    /*projects*/

    .projects {
        margin: 1rem;
        padding-bottom: 0.5rem;
    }

    .project-tile{
        margin: 1rem 1rem 3rem;
        padding: 0.5rem;
        margin: 0.5rem
    }

    .section-heading h6 {
        font-size: 1rem;
    }

    .project-img img {
        height: auto;
        width: 75vw;
        margin: 1rem 0;
    }
    
    .project-description h6 {
        margin: 1rem;
        margin: 0;
    }

    .project-description {
        margin: 0 1rem;
    }

    .project-description h1 {
        font-size: 1.5rem;
    }

    .project-description p {
        text-align: left;
    }

    .project-description .profile-link {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    
    .profile-link:last-child {
        margin: 0.5rem 0 1.5rem;
        font-size: 1rem;
    }

    .portfolio-link {
        margin: 2rem 1rem 2rem;
    }
    
    /*container resizing*/

    .about, .contact {
        margin: 1rem;
    }

    .about-container, .project-tile, .contact-container {
        margin: 1rem 1rem 3rem;
        padding: 0.5rem;
        margin: 0.5rem
    }

    .about-heading h2, .contact-heading h2 {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .profile-img img, .profile-img img {
        margin-top: 1rem;
    }

    .about-details, .contact-details {
        margin: 1rem 0.5rem 0;
    }

    .social-media {
        margin: 1rem;
    }

    .nav-list{
        margin: 0;
    }

    .nav-list a {
        padding: 0 0.5rem;
    }

    .footer-container {
        margin: 2.5rem 1rem 0;
    }

}

/*End media queries*/